# Revision control.
.git/
**/.gitignore

# Vim files.
tags
**/*.sw[po]

# Build tools in base image.
./rebar3

# Downloaded packages.
./node_modules

# Local build artifacts.
./_build
.virtualenv
log
logs
test/.rebar3
