# Erlang build and crash files.
*.beam
*.o
*.plt
.erlang.cookie
.idea
_build
ebin
erl_crash.dump
log
logs
rebar3
rebar3.crashdump
.rebar3

# Optional python dependencies.
.virtualenv

# Optional node.js dependencies.
node_modules/

# Vim files.
*.swo
*.swp
tags
