[
    {elvis, [
        {config, [
            #{
                dirs => ["src", "include", "test"],
                filter => "*.erl",
                rules => [
                    {elvis_style, dont_repeat_yourself, disable},
                    {elvis_style, function_naming_convention, disable},
                    {elvis_style, god_modules, disable},
                    {elvis_style, no_if_expression, disable}
                ],
                ruleset => erl_files
            },
            #{
                dirs => ["src", "include", "test"],
                filter => "*.hrl",
                ruleset => erl_files
            },
            #{
                dirs => ["."],
                filter => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            }
        ]},
        {parallel, 4}
    ]}
].
