{minimum_otp_vsn, "22.0"}.

{erl_opts, [
    debug_info,
    {warn_format, 1},
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import
]}.

{plugins, [rebar3_hex]}.

{dialyzer, [
    {plt_prefix, "llists"},
    {warnings, [
        error_handling,
        % missing_return,
        no_improper_lists,
        underspecs,
        unmatched_returns
    ]}
]}.

{proper_opts, [
    {max_size, 10},
    {max_shrinks, 1000}
]}.

{xref_warnings, true}.

{profiles, [
    {test, [
        {erl_opts, [{d, 'TEST'}]},
        {deps, [proper]},
        {plugins, [
            erlfmt,
            geas_rebar3,
            rebar3_hank,
            rebar3_lint,
            rebar3_proper
        ]},
        {dialyzer, [{plt_prefix, "llists_test"}]}
    ]},
    {chunk, [
        {edoc_opts, [
            {preprocess, true},
            {doclet, edoc_doclet_chunks},
            {layout, edoc_layout_chunks}
        ]}
    ]},
    {html, [
        {edoc_opts, [
            {preprocess, true},
            {doclet, edoc_doclet},
            {layout, edoc_layout}
        ]}
    ]},
    {markdown, [
        {deps, [edown]},
        {edoc_opts, [
            {preprocess, true},
            {doclet, edown_doclet},
            {top_level_readme, {"./README.md", "http://github.com/jkrukoff/llists"}}
        ]}
    ]}
]}.
