{minimum_otp_vsn, "21.0"}.

{erl_opts, [
    debug_info,
    {warn_format, 1},
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import
]}.

{plugins, [rebar3_hex, {rebar3_docsh, "0.7.2", {pkg, docsh}}]}.

{shell, [{script_file, "_build/default/plugins/rebar3_docsh/priv/docsh_rebar3_shell.escript"}]}.

{provider_hooks, [
    {post, [{compile, {docsh, compile}}]}
]}.

{dialyzer, [
    {plt_prefix, "llists"},
    {warnings, [
        no_improper_lists,
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}
]}.

{proper_opts, [
    {max_size, 10},
    {max_shrinks, 1000}
]}.

{xref_warnings, true}.

{profiles, [
    {test, [
        {erl_opts, [{d, 'TEST'}]},
        {deps, [proper]},
        {plugins, [
            erlfmt,
            geas_rebar3,
            rebar3_lint,
            rebar3_proper
        ]},
        {dialyzer, [{plt_prefix, "llists_test"}]}
    ]},
    {markdown, [
        {deps, [edown]},
        {edoc_opts, [
            {preprocess, true},
            {doclet, edown_doclet},
            {top_level_readme, {"./README.md", "http://github.com/jkrukoff/llists"}}
        ]}
    ]}
]}.
